body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(40, 40, 40);
    color: #fff;
    font-family: sans-serif;
}

canvas {
    position: absolute;
}